#main1{
    background-image: url('/views/img/wp2337041.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
}

#main2{
    background-color: rgb(60, 60, 60);
}

#p1{
    font-size: 70px;
    text-align: center;
}

#p2{
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
    padding-left: 170px;
    padding-right: 170px;
}

#p3{
    font-size: 60px;
}

#cryptoCurrencyTable{
    width: 60%;
    height: 200px;
}

#ourPros{
    margin-top: 100px;
}

@media (max-width: 600px) {
    #p1 {
        text-align: center;
        font-size: 40px;
    }
    
    #p2 {
        font-size: 25px;
        margin-top: 30px;
        padding-left: 50px;
        padding-right: 50px;
    }

    #tableDiv {
        overflow-x: auto;
    }

    #cryptoCurrencyTable {
        width: 100%;
    }

    #buttonC{
        padding-right: 30px;
    }

    #buttonC2{
        padding-left: 30px;
    }
}





